#dashBoardBlock {
    position: absolute;
    width: 100%;
    box-sizing: 0px 0px 1px 1px #ccc;
    background-color: rgb(104, 84, 84);
    display: inline-flex;
}

#dashBoardScreen {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: inline-block;
    width: 25%;
    color: wheat;
}

#dashBar {
    color: wheat;
    width: 90%;
    box-sizing: border-box;
    font-size: 40px;
}

#dashBoardScreen #dashBar li {
    padding: 30px;
}

#dashBoardScreen #dashBar li a {
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

.navBarSelection {
    padding: 40px;
}

#statsBlock {
    background-color: whitesmoke;
    width: 25%;
    margin: 0;
    padding: 0;
    text-align: center;
    border-right: solid black;
    border-left: solid black;
}

.statsHead {
    font-size: 100px;
    margin: 20px;
    border-bottom: solid black;
}

.fa-percentage {
    font-size: 60px;
}

#statsOverview {
    font-size: 40px;
}

#plannerBlock {
    background-color: rgba(70, 49, 22, 0.5);
    width: 50%;
    margin: 0;
    padding-bottom: 25px;
}

#plannerScreen {
    width: 100%;
    color: blanchedalmond;
}

#todayHead {
    margin: 0;
    padding: 30px;
    padding-bottom: 10px;
    font-size: 140px;
}

#todayNo {
    font-size: 40px;
    margin: 0;
    padding: 10px;
    margin-left: 100px;
    color: rgb(204, 255, 204)
}

#dailyTask {
    border-bottom: solid black;
    height: 36%;
}

#upcomingHead {
    margin: 0;
    padding: 30px;
    font-size: 100px;
}

#menuHead {
    font-size: 100px;
    margin: 20px;
    border-bottom: solid wheat;
}

#monthDiv {
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
}

#monthDiv ul {
    margin: 0;
    padding: 20px;
    border-bottom: solid;
    margin-bottom: 25px;
    padding-bottom: 0px;
}

#monthDiv ul li {
    text-transform: uppercase;
    letter-spacing: 3px;
}

#daysInCalendar, #daysOfMonth {
    padding: 0;
}

#daysOfMonth li, #daysInCalendar li {
    width: 9.5%;
    padding: 2.02%;
    text-align: center;
    font-size: 20px;
    border: solid;
    border-width: 1px;
    float: left;
    position: relative;
    left: 13px;
}

#daysOfMonth li, #nextBtn, #prevBtn {
    transition: .5s;
}

#daysOfMonth li:hover, #nextBtn:hover, #prevBtn:hover, #cancelSchedule:hover, #closeBtn:hover {
    transition: .5s;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 40px #ffffff;
    cursor: pointer;
}

#prevBtn {
    float: left;
}

#nextBtn {
    float: right;
}

#calendarMonth {
    padding-bottom: 25px;
    display: inline-block;
}

.monthTab {
    font-size: 35px;
}

#scheduleMsgDiv {
    position: absolute;
    width: 30%;
    height: 50%;
    left: 746px;
    top: 147px;
    background: #251b1f;
}

#closeBtn {
    margin-top: 10px;
    padding-top: 10px;
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    font-size: 25px;
    float: right;
    background: transparent;
    border: 0;
    color: wheat;
}

#scheduleMsg {
    text-align: center;
    padding-top: 40px;
    font-size: 31px;
}