body {
    font-family: 'Markazi Text', serif;
    margin: 0;
    padding: 0;
}

.fa-book-reader {
    font-size: 30px;
}

a:visited, a:link {
    color: wheat;
}

li {
    list-style: none;
}

#bckground {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#tempBac {
    background-image: url('img/temp.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

#navBar {
    color: wheat;
    top: 0;
    /* position: fixed; */
    width: 100%;
    height: 90px;
    background: rgb(44, 40, 40);
    box-sizing: border-box;
    padding: 10px 100px;
    font-size: 25px;
}

.navSelection:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 40px #ffffff;
    cursor: pointer;
}

#navBar.black {
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    padding: 10px 100px;
}

#navBar .logo {
    float: left;
    font-size: 24px;
    transition: .5s;
}

#navBar #list {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    /* color: wheat; */
    display: flex;
}

#navBar #list li {
    list-style: none;
}

#navBar #list li a {
    line-height: 80px;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

#navBar.black #list li a {
    color: #fff;
}

#navBar #list li a:focus {
    outline: none;
}

#navBar #list li a.active {
    background: #E2472F;
    color: #fff;
    border-radius: 6px;
}

#loginBlock {
    text-align: center;
    height: 500px;
    margin-top: 8%;
    box-sizing: 0px 0px 1px 1px #ccc;
}

#loginScreen {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    color: wheat;
}

#login-form {
    padding: 10px;
}

#loginList {
    list-style: none;
    display: inline-flex;
    text-transform: uppercase;
    transition: .5s;
    /* float: right; */
}

.loginSelection {
    text-align: center;
    padding: 10px;
    margin: 30px;
    font-size: 30px;
    transition: .5s;
    /* border: solid wheat; */
    /* opacity: 1; */
}

.loginSelection:hover {
    /* font-size: 40px; */
    color: rgb(255, 255, 255);
    text-shadow: 0 0 40px #ffffff;
    cursor: pointer;
}

#login-form, #create-account-form, #contact-form {
    text-align: center;
    display: inline-block;
}

.input-form {
    /* background: rgba(0,0,0,0.0); */
    /* display: inline-block; */
    padding: 30px;
    width: 50%;
    position: relative;
}

.logForms {
    border-bottom: 1px solid wheat;
    background: transparent;
    border-top: rgba(0, 0, 0, 0);
    border-right: rgba(0, 0, 0, 0);
    border-left: rgba(0, 0, 0, 0);
    outline: none;
    width: 400px;
    color: wheat;
    height: 50px;
    font-size: 25px;
}

#login-form .input-form label,
#create-account-form .input-form label {
    position: absolute;
    top: 25px;
    left: 30px;
    padding: 10px 0;
    font-size: 35px;
    pointer-events: none;
    transition: .5s;
    text-transform: uppercase;
}

#login-form .input-form input:focus~label,
#login-form .input-form input:valid ~ label,
#create-account-form .input-form input:focus ~ label, 
#create-account-form .input-form input:valid ~ label {
    top: 0;
    color: rgb(15, 180, 84);
    font-size: 25px;
}

.submit-btn {
    text-align: center;
    padding: 40px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: wheat;
    transition: .5s;
}

.submit-btn:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 40px #ffffff;
    cursor: pointer;
}

