body {
    font-family: 'Markazi Text', serif;
    margin: 0;
    padding: 0;
}

#foodBac {
    background-image: url('../../img/img2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

#foodBlock {
    text-align: center;
    height: 680px;
    margin-top: 4%;
    box-sizing: 0px 0px 1px 1px #ccc;
}

#foodScreen {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    color: wheat;
}

#foodList {
    padding: 0px;
    list-style: none;
    display: inline-flex;
    text-transform: uppercase;
    transition: .5s;
}

.foodSelection {
    text-align: center;
    padding: 10px;
    margin: 30px;
    font-size: 30px;
    transition: .5s;
}

.foodSelection:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 40px #ffffff;
    cursor: pointer;
}

.selectContent {
    display: inline-flex;
}

.selectText {
    margin: 10px;
    margin-top: 0px;
}

.selectText:hover, #weightBmrArrow:hover, #heightBmrArrow:hover, #gendBmrArrow:hover, #submitBackArrow:hover, #heightBmiArrow:hover, #weightBmiArrow:hover {
    transition: .5s;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 40px #ffffff;
    cursor: pointer;
}

.inputStyle {
    margin-left: 40px;
    display: inline-flex;
}

.foodForms {
    padding: 30px;
    position: relative;
    display: inline-flex;
}

.foodForms label {
    position: absolute;
    top: 25px;
    left: 30px;
    padding: 10px 0;
    font-size: 35px;
    pointer-events: none;
    transition: .5s;
    text-transform: uppercase;
}

.foodForms input:focus~label, .foodForms input:valid~label {
    top: 0;
    color: rgb(15, 180, 84);
    font-size: 25px;
}

.fa-arrow-alt-circle-left {
    position: relative;
    top: 14px;
    right: 20px;
    font-size: 40px;
}

.gendLabel {
    font-size: 35px;
    margin: 20px;
}

#weightBmrBox, #heightBmrBox, #genderBmrBox {
    display: none;
}

#storeBmrBtn, #storeBmiBtn {
    font-size: 30px;
    position: relative;
    top: 7px;
    color: #33cc33;
    text-transform: uppercase;
}

#storeBmrBtn:hover, #storeBmiBtn:hover {
    transition: .5s;
    color: #00ff00;
    text-shadow: 0 0 40px #00ff00;
    cursor: pointer;
}

#submitBackArrow {
    top: 28px;
    left: -5px;
}

#resultsH, #resultsHBmi {
    left: 23.2px;
    position: relative;
    width: 407px;
    font-size: 35px;
}