@media only screen and (max-width: 884px) {
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 855px) {
    .contactForms, #message-form-contact {
        width: 100%;
    }
}

@media only screen and (max-width: 845px) {
    .logForms {
        width: 100%;
    }
}

@media only screen and (max-width: 740px) {
    .loginSelection {
        font-size: 20px;
    }
    #contact-form .input-form label {
        font-size: 20px;
    }
}

@media only screen and (max-width: 720px) {
    #navBar #list li a {
        font-size: 15px;
    }
    #aboutScreen {
        width: auto !important;
    }
}

@media only screen and (max-width: 608px) {
    .authNav {
        padding: 0 !important;
        padding-right: 100px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}

@media only screen and (max-width: 550px) {
    #loginScreen {
        width: 100%;
        font-size: 20px;
    }
    #contactScreen {
        height: auto;
    }
    #login-form .input-form label, #create-account-form .input-form label {
        font-size: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .authNav {
        padding-right: 43px !important;
    }
}

@media only screen and (max-width: 450px) {
    #navBar {
        display: none;
    }
    .submit-btn {
        font-size: 15px;
    }
    #contactScreen {
        width: auto !important;
    }
    #aboutScreen {
        height: auto !important;
    }
}

@media only screen and (max-width: 340px) {
    #create-account-btn {
        font-size: 12px;
    }
}